{% extends 'base.html' %}

{% block content %}

    <section class="flex align-items-center">
        <div class="container">
            <div class="row article-wrapper justify-center align-top">
                <div class="article-header col-md-8">
                    <h1 class="title">{{ article }}</h1>
                    <div class="date">
                        <span>{{ article.date.date() }} &emsp; {{ article.poster }}</span>
                    </div>
                </div>

                <article class="content col-md-8 col-12">
                    <p>
                        {{ article.content|safe }}
                    </p>
                </article>
            </div>
        <div class="input-group">
            <form action="/add-comment/{{ article.id }}" method="post">
                <label for="comment" class="form-label">Add comment</label>
                <textarea name="comment" id="comment" class="form-control mb-3"></textarea>
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>
        </div>
            <div>
                {% if current_user.is_admin %}
                    <a href="{{ url_for('posts.edit_post', id=article.id) }}" class="btn btn-outline-primary btn-sm">Edit</a>
                    <a href="{{ url_for('posts.delete_post', id=article.id) }}"
                       class="btn btn-outline-danger btn-sm">Delete</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}