{% extends 'base.html' %}
{% block nav %}
    {% if current_user.is_admin %}
        <li><a class="list-item" href="{{ url_for('posts.create_post') }}">Create post</a></li>
    {% endif %}
{% endblock %}
{% block content %}
<section class="section-title">
  <div class="container">
    <div class="section-content">
      <h1>Blog</h1>
    </div>
  </div>
</section>

<section class="flex align-items-center">
  <div class="container">
    <div class="row justify-between align-top">
      <div id="archive" class="col-md-7">
      <h4 class="sticky">2022</h4>
      <h4>August</h4>
        <ul class="list-wrapper">
          {% for article in articles %}
          <li>
            <a class="list-item" href="/post/{{article.id}}/{{article.slug}}">
              <div class="date">{{ article.date.date() }} {{ article.poster }}</div>
              <div class="title">{{ article }}</div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
