{% extends 'base.html' %}

{% block content %}
    <div class="form-signin mx-auto text-center" style="margin-top: 150px; margin-bottom: 260px">
        <form method="post">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            {{ form.hidden_tag() }}
            <div class="form-floating">
                {% if form.email.errors %}
                    {{ form.email(class="form-control mb-2 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control mb-2", placeholder="name@example.com") }}
                {% endif %}
                {{ form.email.label() }}
            </div>
            <div class="form-floating">
                {% if form.password.errors %}
                    {{ form.password(class="form-control mb-2") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control mb-2", placeholder="Password") }}
                {% endif %}
                {{ form.password.label() }}
            </div>
            <div class="form-check mb-3">
{#                <label>#}
{#                    <input type="checkbox" value="remember-me"> Remember me#}
{#                </label>#}
                {{ form.remember() }}
                {{ form.remember.label() }}

            </div>
            {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
        </form>
    <p class="mt-3">You haven't account? <a href="{{ url_for('users.register') }}">Sign up</a></p>
    </div>
{% endblock %}