{% extends 'base.html' %}
{% block content %}
    <div class="hero scroll-border">

        <div class="container">

            <div class="left">

                <h1 class="h1" style="font-size: 3.25rem">
                    Hi, I'm <b>Jasurbek</b>.
                    <br>Backend Developer
                </h1>

                <div class="">
                    <a href="#" class="btn btn-primary rounded-pill">Contact Me</a>
                    <a href="#" class="btn btn-secondary rounded-pill ">About Me</a>
                </div>

            </div>

            <div class="right">
                <svg class="home__blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <mask id="mask0" mask-type="alpha">
                        <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547
                  130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775
                  97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666
                  0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                    </mask>
                    <g mask="url(#mask0)">
                        <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346
                  165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403
                  129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028
                  -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                        <image class="home__blob-img" y="-20" xlink:href="./static/img/Jasurbek.png"/>
                    </g>
                </svg>
            </div>

        </div>

    </div>

    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            {% for article in articles %}
                                <div class="col-lg-12">
                                    <div class="blog-post">
{#                                        <div class="blog-thumb">#}
{#                                            <img src="assets/images/blog-post-01.jpg" alt="">#}
{#                                        </div>#}
                                        <div class="down-content">
                                            <span>{{ article.category }}</span>
                                            <a href="post/{{ article.id }}/{{ article.slug }}"><h4>{{ article }}</h4></a>
                                            <ul class="post-info">
                                                <li><a href="#">{{ article.poster }}</a></li>
                                                <li><a href="#">{{ article.date.date() }}</a></li>
                                                {% if article.comments %}
                                                    {% if article.comments|count == 1 %}
                                                        <li><a href="#">{{ article.comments|count }} Comment</a></li>
                                                    {% else %}
                                                        <li><a href="#">{{ article.comments|count }} Comments</a></li>
                                                    {% endif %}
                                                {% endif %}
                                            </ul>
                                            <p>{{ article.content[50:300]|safe }}</p>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <ul class="post-tags">
                                                            <li><i class="fa fa-tags"></i></li>
                                                            {% for tag in article.tags %}
                                                                <li><a href="#">{{ tag }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="col-6">
                                                        <ul class="post-share">
                                                            <li><i class="fa fa-share-alt"></i></li>
                                                            <li><a href="https://www.facebook.com/">Facebook</a>,</li>
                                                            <li><a href="https://www.twitter.com/"> Twitter</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a href="{{ url_for('posts.show_posts') }}">View All Posts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% include 'inc/_sidebar.html' %}
            </div>
        </div>
    </section>

{% endblock %}
