<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <title>Jasurbek's Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link
            href="{{ url_for('static', filename='css/flexgridcombo.css') }}"
            rel="stylesheet"
    />
    {#    <link#}
    {#            rel="stylesheet"#}
    {#            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"#}
    {#    />#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link
            href="{{ url_for('static', filename='css/style.css') }}"
            rel="stylesheet"
    />
    <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='img/logo.png') }}"
            type="image/x-icon"
    />

    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>
    <style>
        .btn-outline-primary {
            color: #007bff !important;
        }

        .btn-outline-primary:hover {
            color: white !important;
        }

        .btn-outline-danger {
            color: #dc3545 !important;
        }

        .btn-outline-danger:hover {
            color: white !important;
        }
    </style>
</head>

<body>
<header class="header--title flex align-items-center">
    <div class="container">
        <div class="align-items-center flex">
            <div class="logo-wrapper">
                <a class="logo" href="/">Jasurbek's Blog</a>
            </div>
            <ul class="nav align-items-center">
                <li><a class="list-item" href="{{ url_for('posts.show_posts') }}">Blog</a></li>
                {% block nav %}{% endblock %}
                {% if current_user.is_authenticated %}
                    <li><a class="list-item" href="{{ url_for('users.logout') }}">Logout</a></li>
                {% else %}
                    <li><a class="list-item" href="{{ url_for('users.register') }}">Register</a></li>
                    <li><a class="list-item" href="{{ url_for('users.login') }}">Sign in</a></li>
                {% endif %}
            </ul>
            <div class="burger-menu">
                <div class="bar bar--top"></div>
                <div class="bar bar--middle"></div>
                <div class="bar bar--bottom"></div>
            </div>
        </div>
    </div>
</header>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="message alert alert-{{ category }} alert-dismissible fade show w-75 mx-auto" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% block content %} {% endblock %}

<footer>
    <div class="container">
        <div class="row">
            <p>&copy; 2022 Jasurbek</p>
        </div>
    </div>
</footer>

<script src="{{ url_for('static', filename='js/ScrollMonitor.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/TweenMax.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>
